In [4]:
list=[ 
for p in list:
    print("*****my friend name is*****",p)

*****my friend name is***** anitha
*****my friend name is***** vanaja
*****my friend name is***** prasanna
*****my friend name is***** sivadevi
*****my friend name is***** vanitha
*****my friend name is***** anusha
*****my friend name is***** poojitha
*****my friend name is***** sruthi
*****my friend name is***** mamatha
*****my friend name is***** manasa

In [2]:
list=["venkataraju","dhanalakshmi","gopalakrishna","dasaradharamayya","nagedhramma","bhogiraju","nagajyothi","lakshamana","umadevi","poojitha"]
for p in list:
    print(p)

venkataraju
dhanalakshmi
gopalakrishna
dasaradharamayya
nagedhramma
bhogiraju
nagajyothi
lakshamana
umadevi
poojitha

In [9]:
list=["brinjal","tomato","angular gourds","ladys finger","gherkins","potato","bitter gourds","bottle gourds","sanke gourds","cucumber"]
for p in list:
    print(p)

brinjal
tomato
angular gourds
ladys finger
gherkins
potato
bitter gourds
bottle gourds
sanke gourds
cucumber

In [1]:
tuple=("fish","egg","chicken","mutton","fishbiryani","prawn","chicken biryani","mutton biryani","thandoori","prawn biryani")
for p in tuple:
    print(p)

fish
egg
chicken
mutton
fishbiryani
prawn
chicken biryani
mutton biryani
thandoori
prawn biryani

In [10]:
set={"white","black","red","blue","green","yellow","pink","brown","orange","grey"}
for swathi in set :    
    print(swathi)

white
grey
black
red
green
blue
brown
orange
pink
yellow

In [22]:
list=3
for buji in list:      
    print(buji)

january
february
march
april
may
june
july
august
september
october
november
december

In [7]:
range(9,99,9)
for p in range(9,99,9):
    print(p)

9
18
27
36
45
54
63
72
81
90

In [8]:
range(12,123,12)
for p in range(12,123,12):
    print(p)

12
24
36
48
60
72
84
96
108
120