In [1]:
#Q1>Create and import file
#1. Create schoolmets and collegements friends_names.xls file and import file in spyder (atleast 10 names, columns are FriendName,Quality) ,
#2. Summarize data by quality wise no.of friends .
#Example: quality | no.of freind
#funny | 2

In [2]:
import pandas as pd
df_fri=pd.read_excel(r"C:\Users\hp\OneDrive\Documents\assignment_13\school_mets_collage_mets.xlsx")
df_fri

   s.no friend_name      quality
0     1      anitha         good
1     2      vanaja         cool
2     3     vanitha       silent
3     4     mamatha     innocent
4     5        gita   inteligent
5     6        sita      helpful
6     7       durga  hordworking
7     8    prasanna        funny
8     9       bujji         good
9    10     jayasri  hordworking

In [3]:
df=df_fri.groupby('quality')['s.no'].count()
df

quality
cool           1
funny          1
good           2
helpful        1
hordworking    2
innocent       1
inteligent     1
silent         1
Name: s.no, dtype: int64

In [4]:
df=df_fri.groupby('quality')['s.no'].sum()
df

quality
cool            2
funny           8
good           10
helpful         6
hordworking    17
innocent        4
inteligent      5
silent          3
Name: s.no, dtype: int64

In [5]:
df=df_fri.groupby('friend_name')['s.no'].sum()
df

friend_name
anitha       1
bujji        9
durga        7
gita         5
jayasri     10
mamatha      4
prasanna     8
sita         6
vanaja       2
vanitha      3
Name: s.no, dtype: int64

In [6]:
df=df_fri.groupby('friend_name')['s.no'].count()
df

friend_name
anitha      1
bujji       1
durga       1
gita        1
jayasri     1
mamatha     1
prasanna    1
sita        1
vanaja      1
vanitha     1
Name: s.no, dtype: int64

In [7]:
#Q2>Create and import file
#1. Create boys Boysfriend_names.xls file and import file in spyder (atleast 10 names, columns are FriendName,Quality)  
#2. Summarize data by quality wise no.of friends .
#3. Create girls Girlsfriend_names.xls file  and import file in spyder (atleast 10 names, columns are FriendName,Quality) 
#4. Summarize data by quality wise no.of friends .

In [8]:
#1. Create boys Boysfriend_names.xls file and import file in spyder (atleast 10 names, columns are FriendName,Quality)

In [9]:
import pandas as pd
df_boys=pd.read_excel(r"C:\Users\hp\OneDrive\Documents\assignment_13\boys_friends.xlsx")
df_boys

   s.no     names      quality
0     1  santhosh  hordworking
1     2    rajesh         good
2     3   krishna        funny
3     4    gopala         cool
4     5      ramu       silent
5     6      hari   inteligent
6     7      giri        funny
7     8    harish       silent
8     9     pream  hordworking
9    10       ram         cool

In [10]:
#2. Summarize data by quality wise no.of friends .

In [11]:
df=df_boys.groupby('quality')['s.no'].count()
df

quality
cool           2
funny          2
good           1
hordworking    2
inteligent     1
silent         2
Name: s.no, dtype: int64

In [12]:
df=df_boys.groupby('quality')['s.no'].sum()
df

quality
cool           14
funny          10
good            2
hordworking    10
inteligent      6
silent         13
Name: s.no, dtype: int64

In [13]:
#3. Create girls Girlsfriend_names.xls file  and import file in spyder (atleast 10 names, columns are FriendName,Quality)

In [14]:
import pandas as pd
df_girls=pd.read_excel(r"C:\Users\hp\OneDrive\Documents\assignment_13\girls_friends.xlsx")
df_girls

   s.no      name      quality
0     1    anitha         good
1     2    vanaja         cool
2     3   vanitha       silent
3     4   mamatha     innocent
4     5      gita   inteligent
5     6      sita      helpful
6     7     durga  hordworking
7     8  prasanna        funny
8     9     bujji         good
9    10   jayasri  hordworking

In [15]:
#4. Summarize data by quality wise no.of friends .

In [16]:
df=df_girls.groupby('quality')['s.no'].count()
df

quality
cool           1
funny          1
good           2
helpful        1
hordworking    2
innocent       1
inteligent     1
silent         1
Name: s.no, dtype: int64

In [17]:
df=df_girls.groupby('quality')['s.no'].sum()
df

quality
cool            2
funny           8
good           10
helpful         6
hordworking    17
innocent        4
inteligent      5
silent          3
Name: s.no, dtype: int64

In [18]:
#Q3>Create and import file
#1. Create a father side fatherfamily_members.xls file and import file in spyder  (atleast 5 names, columns are FamilyMemberName*Relation)
#2. Summarize data by relation wise no.of familymembers .
#3. Create a mother side montherfamily_members.xls file and import file in spyder  (atleast 5 names, columns are FamilyMemberName*Relation)
#4. Summarize data by relation wise no.of familymembers .

In [19]:
#1. Create a father side fatherfamily_members.xls file and import file in spyder  (atleast 5 names, columns are FamilyMemberName*Relation)

In [20]:
import pandas as pd
df_father=pd.read_excel(r"C:\Users\hp\OneDrive\Documents\assignment_13\father_family_member.xlsx")
df_father

   s.no family_members         relation
0     1           raju          brother
1     2           mani    sister_in_law
2     3         ramesh              son
3     4         anitha  daughter_in_law
4     5        muthika   grand_daughter

In [21]:
#2. Summarize data by relation wise no.of familymembers .

In [22]:
df=df_father.groupby('relation')['s.no'].count()
df

relation
brother            1
daughter_in_law    1
grand_daughter     1
sister_in_law      1
son                1
Name: s.no, dtype: int64

In [23]:
df=df_father.groupby('relation')['s.no'].sum()
df

relation
brother            1
daughter_in_law    4
grand_daughter     5
sister_in_law      2
son                3
Name: s.no, dtype: int64

In [24]:
#3. Create a mother side montherfamily_members.xls file and import file in spyder  (atleast 5 names, columns are FamilyMemberName*Relation)

In [26]:
import pandas as pd
df_mother=pd.read_excel(r"C:\Users\hp\OneDrive\Documents\assignment_13\mother_family_member.xlsx")
df_mother

   s.no   family_members         relation
0     1  dasaradharamaya           father
1     2       nagedramma           mother
2     3             raju          brother
3     4           jyothi    sister_in_law
4     5          muthika  daughter_in_law

In [ ]:
#4. Summarize data by relation wise no.of familymembers .

In [27]:
df=df_mother.groupby('relation')['s.no'].count()
df

relation
brother            1
daughter_in_law    1
father             1
mother             1
sister_in_law      1
Name: s.no, dtype: int64

In [28]:
df=df_mother.groupby('relation')['s.no'].sum()
df

relation
brother            3
daughter_in_law    5
father             1
mother             2
sister_in_law      4
Name: s.no, dtype: int64

In [ ]:
#Q4>Create and import file
#1. Create a Dal related  dal_items.xlsx file and import file in spyder (atleast 5 names, columns are VegFoodName*Taste)
#2. Summarize data by taste wise no.of fooditems.
#3. Create a vegitable related  vegitable_items.xlsx file and import file in spyder (atleast 5 names, columns are VegFoodName*Taste)
#4. Summarize data by taste wise no.of fooditems.

In [ ]:
#1. Create a Dal related  dal_items.xlsx file and import file in spyder (atleast 5 names, columns are VegFoodName*Taste)

In [29]:
import pandas as pd
df_dal=pd.read_excel(r"C:\Users\hp\OneDrive\Documents\assignment_13\dal_items.xlsx")
df_dal

   s.no                 items  taste
0     1          pappu_tomato   sour
1     2        pappu_cucumber  super
2     3           pappu_mango   sour
3     4  pappu_angular_gourds  taste
4     5   pappu_bottle_gourds  yummy

In [ ]:
#2. Summarize data by taste wise no.of fooditems.

In [32]:
df=df_dal.groupby('taste')['s.no'].count()
df

taste
sour     2
super    1
taste    1
yummy    1
Name: s.no, dtype: int64

In [33]:
df=df_dal.groupby('taste')['s.no'].sum()
df

taste
sour     4
super    2
taste    4
yummy    5
Name: s.no, dtype: int64

In [ ]:
#3. Create a vegitable related  vegitable_items.xlsx file and import file in spyder

In [34]:
import pandas as pd
df_veg=pd.read_excel(r"C:\Users\hp\OneDrive\Documents\assignment_13\veg_items.xlsx")
df_veg

   s.no                items  taste
0     1          tomato_cury   sour
1     2           potato_fry  yummy
2     3     ladey_finger_fry  super
3     4  angular_gourds_cury    hot
4     5        cucumber_cury  teste

In [ ]:
#4. Summarize data by taste wise no.of fooditems.

In [36]:
df=df_veg.groupby('taste')['s.no'].count()
df

taste
hot      1
sour     1
super    1
teste    1
yummy    1
Name: s.no, dtype: int64

In [37]:
df=df_veg.groupby('taste')['s.no'].sum()
df

taste
hot      4
sour     1
super    3
teste    5
yummy    2
Name: s.no, dtype: int64

In [ ]:
#Q5>Create and import file
#1. Create a soups related  soups_items.xlsx file and import file in spyder (atleast 5 names, columns are soups*Taste)
#2. Summarize data by taste wise no.of fooditems.
#3. Create a fry related  fry_items.xlsx file and import file in spyder (atleast 5 names, columns are fry*Taste)
#4. Summarize data by taste wise no.of fooditems.

In [ ]:
#1. Create a soups related  soups_items.xlsx file and import file in spyder (atleast 5 names, columns are soups*Taste)

In [40]:
import pandas as pd
df_soup=pd.read_excel(r"C:\Users\hp\OneDrive\Documents\assignment_13\soups_items.xlsx")
df_soup

   s.no                items  taste
0     1           beans_soup    hot
1     2          potato_soup  super
2     3          tomato_soup   sour
3     4          carrot_soup  taste
4     5  angular_gourds_soup  yummy

In [ ]:
#2. Summarize data by taste wise no.of fooditems.

In [41]:
df=df_soup.groupby('taste')['s.no'].count()
df

taste
hot      1
sour     1
super    1
taste    1
yummy    1
Name: s.no, dtype: int64

In [42]:
df=df_soup.groupby('taste')['s.no'].sum()
df

taste
hot      1
sour     3
super    2
taste    4
yummy    5
Name: s.no, dtype: int64

In [ ]:
#3. Create a fry related  fry_items.xlsx file and import file in spyder (atleast 5 names, columns are fry*Taste)

In [43]:
import pandas as pd
df_fry=pd.read_excel(r"C:\Users\hp\OneDrive\Documents\assignment_13\fry_items.xlsx")
df_fry

   s.no            items  taste
0     1       carrot_fry  yummy
1     2       tomato_fry   sour
2     3        beans_fry    hot
3     4       potato_fry  tasty
4     5  lady_finger_fry  super

In [ ]:
#4. Summarize data by taste wise no.of fooditems.

In [44]:
df=df_fry.groupby('taste')['s.no'].count()
df

taste
hot      1
sour     1
super    1
tasty    1
yummy    1
Name: s.no, dtype: int64

In [45]:
df=df_fry.groupby('taste')['s.no'].sum()
df

taste
hot      3
sour     2
super    5
tasty    4
yummy    1
Name: s.no, dtype: int64

In [ ]:
#Q6>Create and import file
#1. Create a Chicken related chicken_items.xlsx file and import file in spyder (atleast 5 names, columns are NonVegFoodName*Taste)
#2. Summarize data by taste wise no.of fooditems.
#3. Create a mutton related mutton_items.xlsx file and import file in spyder (atleast 5 names, columns are NonVegFoodName*Taste)
#4. Summarize data by taste wise no.of fooditems.

In [ ]:
#1. Create a Chicken related chicken_items.xlsx file and import file in spyder (atleast 5 names, columns are NonVegFoodName*Taste)

In [1]:
import pandas as pd
df_chicken=pd.read_excel(r"C:\Users\hp\OneDrive\Documents\assignment_13\chicken_items.xlsx")
df_chicken

   s.no              items       taste
0     1       chicken_cury       super
1     2    chicken_biryani         hot
2     3        chicken_fry       yummy
3     4  chicken_fide_rice       tasty
4     5     chicken_pakodi  very_super

In [ ]:
#2. Summarize data by taste wise no.of fooditems.

In [2]:
df=df_chicken.groupby('taste')['s.no'].count()
df

taste
hot           1
super         1
tasty         1
very_super    1
yummy         1
Name: s.no, dtype: int64

In [3]:
df=df_chicken.groupby('taste')['s.no'].sum()
df

taste
hot           2
super         1
tasty         4
very_super    5
yummy         3
Name: s.no, dtype: int64

In [ ]:
#3. Create a mutton related mutton_items.xlsx file and import file in spyder (atleast 5 names, columns are NonVegFoodName*Taste)

In [4]:
import pandas as pd
df_mutton=pd.read_excel(r"C:\Users\hp\OneDrive\Documents\assignment_13\mutton_items.xlsx")
df_mutton

   s.no           items  taste
0     1      mutton_fry   good
1     2     mutton_cury  super
2     3     mutton_soup  yummy
3     4  mutton_biryani  tasty
4     5   mutton_pakodi    hot

In [ ]:
#4. Summarize data by taste wise no.of fooditems.

In [5]:
df=df_mutton.groupby('taste')['s.no'].count()
df

taste
good     1
hot      1
super    1
tasty    1
yummy    1
Name: s.no, dtype: int64

In [6]:
df=df_mutton.groupby('taste')['s.no'].sum()
df

taste
good     1
hot      5
super    2
tasty    4
yummy    3
Name: s.no, dtype: int64

In [ ]:
#Q7>Create and import file
#1. Create a winter season  winterseason_names.xlsx file and import file in spyder  (atleast 2 names, columns are MonthName*Season)
#2. Summarize data by Season wise no.of months.
#3. Create a summer season  summerseason_names.xlsx file and import file in spyder  (atleast 2 names, columns are MonthName*Season)
#4. Summarize data by Season wise no.of months.
#5. Create a rainy season  rainyseason_names.xlsx file and import file in spyder  (atleast 2 names, columns are MonthName*Season)
#6. Summarize data by Season wise no.of months.

In [ ]:
#1. Create a winter season  winterseason_names.xlsx file and import file in spyder  (atleast 2 names, columns are MonthName*Season)

In [7]:
import pandas as pd
df_winter=pd.read_excel(r"C:\Users\hp\OneDrive\Documents\assignment_13\winter_season.xlsx")
df_winter

   s.no month_names  season
0     1    november  winter
1     2    december  winter

In [ ]:
#2. Summarize data by Season wise no.of months.

In [8]:
df=df_winter.groupby('season')['s.no'].count()
df

season
winter    2
Name: s.no, dtype: int64

In [9]:
df=df_winter.groupby('season')['s.no'].sum()
df

season
winter    3
Name: s.no, dtype: int64

In [ ]:
#3. Create a summer season  summerseason_names.xlsx file and import file in spyder  (atleast 2 names, columns are MonthName*Season)

In [10]:
import pandas as pd
df_summer=pd.read_excel(r"C:\Users\hp\OneDrive\Documents\assignment_13\summer_season.xlsx")
df_summer

   s.no month_names  season
0     1       april  summer
1     2         may  summer

In [ ]:
#4. Summarize data by Season wise no.of months.

In [12]:
df=df_summer.groupby('season')['s.no'].count()
df

season
summer    2
Name: s.no, dtype: int64

In [13]:
df=df_summer.groupby('season')['s.no'].sum()
df

season
summer    3
Name: s.no, dtype: int64

In [ ]:
#5. Create a rainy season  rainyseason_names.xlsx file and import file in spyder  (atleast 2 names, columns are MonthName*Season)

In [14]:
import pandas as pd
df_rainy=pd.read_excel(r"C:\Users\hp\OneDrive\Documents\assignment_13\rainy_season.xlsx")
df_rainy

   s.no month_names season
0     1      august  rainy
1     2   september  rainy

In [ ]:
#6. Summarize data by Season wise no.of months.

In [15]:
df=df_rainy.groupby('season')['s.no'].count()
df

season
rainy    2
Name: s.no, dtype: int64

In [16]:
df=df_rainy.groupby('season')['s.no'].sum()
df

season
rainy    3
Name: s.no, dtype: int64

In [ ]:
#Q8>Create and import file
#1. Create a red colour flowers redflowers_names.xlsx file and import file in spyder   (atleast 3 names, columns are FlowerName*color)
#2. Summarize data by color wise no.of flowers.
#3. Create a white colour flowers whiteflowers_names.xlsx file  and import file in spyder  (atleast 3 names, columns are FlowerName*color)
#4. Summarize data by color wise no.of flowers.
#5. Create a pink colour flowers whiteflowers_names.xlsx file and import file in spyder   (atleast 3 names, columns are FlowerName*color)
#6. Summarize data by color wise no.of flowers.
#7. Create a yellow colour flowers whiteflowers_names.xlsx file and import file in spyder   (atleast 3 names, columns are FlowerName*col8. Summarize data by color wise no.of flowers.

In [ ]:
#1. Create a red colour flowers redflowers_names.xlsx file and import file in spyder   (atleast 3 names, columns are FlowerName*color)

In [20]:
import pandas as pd
df_red=pd.read_excel(r"C:\Users\hp\OneDrive\Documents\assignment_13\red_flowers.xlsx")
df_red

   s.no colour    flower  Unnamed: 3 Unnamed: 4
0   1.0    red      rose         NaN        NaN
1   2.0    red  camomila         NaN        NaN
2   3.0    red  hibiscus         NaN        NaN
3   NaN    NaN       NaN         NaN          s

In [ ]:
#2. Summarize data by color wise no.of flowers.

In [ ]:
df=df_red.groupby('colour')

In [ ]:
#3. Create a white colour flowers whiteflowers_names.xlsx file  and import file in spyder  (atleast 3 names, columns are FlowerName*color)

In [21]:
import pandas as pd
df_white=pd.read_excel(r"C:\Users\hp\OneDrive\Documents\assignment_13\white_flowers.xlsx")
df_white

   s.no colour flower
0     1  white   rose
1     2  white   lily
2     3  white  lotus

In [ ]:
#4. Summarize data by color wise no.of flowers.

In [22]:
df=df_white.groupby('colour')['s.no'].count()
df

colour
white    3
Name: s.no, dtype: int64

In [23]:
df=df_white.groupby('colour')['s.no'].sum()
df

colour
white    6
Name: s.no, dtype: int64

In [ ]:
#5. Create a pink colour flowers whiteflowers_names.xlsx file and import file in spyder   (atleast 3 names, columns are FlowerName*color)

In [24]:
import pandas as pd
df_pink=pd.read_excel(r"C:\Users\hp\OneDrive\Documents\assignment_13\pink_flowers.xlsx")
df_pink

   s.no colour    flower
0     1   pink     lotus
1     2   pink      rose
2     3   pink  oleander

In [ ]:
#6. Summarize data by color wise no.of flowers.

In [ ]:
#7. Create a yellow colour flowers whiteflowers_names.xlsx file and import file in spyder   (atleast 3 names, columns are FlowerName*col8. Summarize data by color wise no.of flowers.