In [1]:
import pandas 
import pandas as pd
df=pd.read_excel(r"C:\Users\hp\OneDrive\Documents\LGA_Employee_Details.xlsx")
df

,S.No,Name,Qualification,Group,Skills,CurrentProject,Location,Hobbies,EmailId,Contact
0,1,Paramatma Pulivarthi,M.Sc,Statistics,"Python, GitHub, Jenkin,AWS,Azure,SQL",CarsProjects,Local,"cricket, movies",mr.paramatma@gmail.com,8897328855
1,2,Nandipu.Jayasri,Btech,ECE,"Python, GitHub, Jenkin,Azure,sql","Azure-DE,GamesProject",Non_local,Gardening,jayasrinandipu@gmail.com,9573249123
2,3,Maganti.Santhosh Kumar,Btech,ECE,"Python, GitHub, Jenkin,Azure","Azure-DE,GamesProject",Local,"Gardening,Movies",santhoshkumarmaganti15@gmail.com,9553938798
3,4,Loya.Swathi,Degree,Bcom,"python,GitHub,Jenkins,SQL,AWS","GamesProject,CarProject,AWS-Quicksight-DE",Local,"Movies,Reading Books",swathiloya95@gmail.com,9989114251
4,5,Mahabunnisa,Inter,MPC,"Python,StockMarket,GitHub","GamesProject,CarProject",Non_local,"Playing games,Music",mmahabunnisa18@gmail.com,7380047872
5,6,Domathoti.Mallika,Inter,HEC,Stockmarket,non,Local,"Movies,Reading Books",mallikadomathoti14@gmail.com,9959368611
6,7,Abdul.Rahamatunnisa,Degree,MPCS,"Python, GitHub, Jenkin,AWS","GamesProject,CarProject",Local,"Playing games,cooking,reading books",rahamatunnisa103@gmail.com,8688206424
7,8,Odugu Nagadurga,Bsc,Mecs,"Python, GitHub, Jenkin,AWS,SQL",AWS-Quicksight-DE,Non_local,listening music,nagadurgaodugu789@gmail.com,9492478895
8,9,Nasheena,Bsc,Comp,"Python, GitHub, Jenkin,SQL",Developer Engineer,Non_local,"Watching TV,play shettel",naseena121@gmail.com,7799813858
9,10,Gunmadi.prasanna,Btech,ECE,"Python, GitHub, Jenkin,AWS,SQL",AWS-Quicksight-DE,local,Reading books,gummadiprasanna214@gmail.com,8688859784
10,11,Maganti.Nagarathnam,Bcom,Comp,"Python, GitHub, Jenkin","GamesProject,CarProject",local,Reading books,mnagarathnam 9392 @gmail.com,8186098598

In [2]:
#------------>basic checks

In [3]:
df.head()

,S.No,Name,Qualification,Group,Skills,CurrentProject,Location,Hobbies,EmailId,Contact
0,1,Paramatma Pulivarthi,M.Sc,Statistics,"Python, GitHub, Jenkin,AWS,Azure,SQL",CarsProjects,Local,"cricket, movies",mr.paramatma@gmail.com,8897328855
1,2,Nandipu.Jayasri,Btech,ECE,"Python, GitHub, Jenkin,Azure,sql","Azure-DE,GamesProject",Non_local,Gardening,jayasrinandipu@gmail.com,9573249123
2,3,Maganti.Santhosh Kumar,Btech,ECE,"Python, GitHub, Jenkin,Azure","Azure-DE,GamesProject",Local,"Gardening,Movies",santhoshkumarmaganti15@gmail.com,9553938798
3,4,Loya.Swathi,Degree,Bcom,"python,GitHub,Jenkins,SQL,AWS","GamesProject,CarProject,AWS-Quicksight-DE",Local,"Movies,Reading Books",swathiloya95@gmail.com,9989114251
4,5,Mahabunnisa,Inter,MPC,"Python,StockMarket,GitHub","GamesProject,CarProject",Non_local,"Playing games,Music",mmahabunnisa18@gmail.com,7380047872

In [4]:
df.tail()

,S.No,Name,Qualification,Group,Skills,CurrentProject,Location,Hobbies,EmailId,Contact
6,7,Abdul.Rahamatunnisa,Degree,MPCS,"Python, GitHub, Jenkin,AWS","GamesProject,CarProject",Local,"Playing games,cooking,reading books",rahamatunnisa103@gmail.com,8688206424
7,8,Odugu Nagadurga,Bsc,Mecs,"Python, GitHub, Jenkin,AWS,SQL",AWS-Quicksight-DE,Non_local,listening music,nagadurgaodugu789@gmail.com,9492478895
8,9,Nasheena,Bsc,Comp,"Python, GitHub, Jenkin,SQL",Developer Engineer,Non_local,"Watching TV,play shettel",naseena121@gmail.com,7799813858
9,10,Gunmadi.prasanna,Btech,ECE,"Python, GitHub, Jenkin,AWS,SQL",AWS-Quicksight-DE,local,Reading books,gummadiprasanna214@gmail.com,8688859784
10,11,Maganti.Nagarathnam,Bcom,Comp,"Python, GitHub, Jenkin","GamesProject,CarProject",local,Reading books,mnagarathnam 9392 @gmail.com,8186098598

In [5]:
df.columns

Index(['S.No', 'Name', 'Qualification', 'Group', 'Skills', 'CurrentProject',
       'Location', 'Hobbies', 'EmailId', 'Contact'],
      dtype='object')

In [6]:
df.shape

(11, 10)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   S.No            11 non-null     int64
 1   Name            11 non-null     object
 2   Qualification   11 non-null     object
 3   Group           11 non-null     object
 4   Skills          11 non-null     object
 5   CurrentProject  11 non-null     object
 6   Location        11 non-null     object
 7   Hobbies         11 non-null     object
 8   EmailId         11 non-null     object
 9   Contact         11 non-null     int64
dtypes: int64(2), object(8)
memory usage: 1008.0+ bytes

In [8]:
df.index

RangeIndex(start=0, stop=11, step=1)

In [9]:
df.dtypes

S.No               int64
Name              object
Qualification     object
Group             object
Skills            object
CurrentProject    object
Location          object
Hobbies           object
EmailId           object
Contact            int64
dtype: object

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df1=pd.DataFrame(df)
df1

,S.No,Name,Qualification,Group,Skills,CurrentProject,Location,Hobbies,EmailId,Contact
0,1,Paramatma Pulivarthi,M.Sc,Statistics,"Python, GitHub, Jenkin,AWS,Azure,SQL",CarsProjects,Local,"cricket, movies",mr.paramatma@gmail.com,8897328855
1,2,Nandipu.Jayasri,Btech,ECE,"Python, GitHub, Jenkin,Azure,sql","Azure-DE,GamesProject",Non_local,Gardening,jayasrinandipu@gmail.com,9573249123
2,3,Maganti.Santhosh Kumar,Btech,ECE,"Python, GitHub, Jenkin,Azure","Azure-DE,GamesProject",Local,"Gardening,Movies",santhoshkumarmaganti15@gmail.com,9553938798
3,4,Loya.Swathi,Degree,Bcom,"python,GitHub,Jenkins,SQL,AWS","GamesProject,CarProject,AWS-Quicksight-DE",Local,"Movies,Reading Books",swathiloya95@gmail.com,9989114251
4,5,Mahabunnisa,Inter,MPC,"Python,StockMarket,GitHub","GamesProject,CarProject",Non_local,"Playing games,Music",mmahabunnisa18@gmail.com,7380047872
5,6,Domathoti.Mallika,Inter,HEC,Stockmarket,non,Local,"Movies,Reading Books",mallikadomathoti14@gmail.com,9959368611
6,7,Abdul.Rahamatunnisa,Degree,MPCS,"Python, GitHub, Jenkin,AWS","GamesProject,CarProject",Local,"Playing games,cooking,reading books",rahamatunnisa103@gmail.com,8688206424
7,8,Odugu Nagadurga,Bsc,Mecs,"Python, GitHub, Jenkin,AWS,SQL",AWS-Quicksight-DE,Non_local,listening music,nagadurgaodugu789@gmail.com,9492478895
8,9,Nasheena,Bsc,Comp,"Python, GitHub, Jenkin,SQL",Developer Engineer,Non_local,"Watching TV,play shettel",naseena121@gmail.com,7799813858
9,10,Gunmadi.prasanna,Btech,ECE,"Python, GitHub, Jenkin,AWS,SQL",AWS-Quicksight-DE,local,Reading books,gummadiprasanna214@gmail.com,8688859784
10,11,Maganti.Nagarathnam,Bcom,Comp,"Python, GitHub, Jenkin","GamesProject,CarProject",local,Reading books,mnagarathnam 9392 @gmail.com,8186098598

In [12]:
#----------------->function

In [13]:
#-------------------------->test_1

In [14]:
def my_fun(df1,Name):
    newdf=df1[df1["Name"]==Name]
    final=newdf.to_dict("dict")
    return final

In [15]:
my_fun(df1,"Paramatma Pulivarthi")

{'S.No': {0: 1},
 'Name': {0: 'Paramatma Pulivarthi'},
 'Qualification': {0: 'M.Sc'},
 'Group': {0: 'Statistics'},
 'Skills': {0: 'Python, GitHub, Jenkin,AWS,Azure,SQL'},
 'CurrentProject': {0: 'CarsProjects'},
 'Location': {0: 'Local'},
 'Hobbies': {0: 'cricket, movies'},
 'EmailId': {0: 'mr.paramatma@gmail.com'},
 'Contact': {0: 8897328855}}

In [16]:
#----------------------------->test_2

In [17]:
def my_fun(df1,Name):
    newdf=df1[df1["Name"]==Name]
    final=newdf.to_dict("dict")
    return final

In [18]:
my_fun(df1,"Nandipu.Jayasri")

{'S.No': {1: 2},
 'Name': {1: 'Nandipu.Jayasri'},
 'Qualification': {1: 'Btech'},
 'Group': {1: 'ECE'},
 'Skills': {1: 'Python, GitHub, Jenkin,Azure,sql'},
 'CurrentProject': {1: 'Azure-DE,GamesProject'},
 'Location': {1: 'Non_local'},
 'Hobbies': {1: 'Gardening'},
 'EmailId': {1: 'jayasrinandipu@gmail.com'},
 'Contact': {1: 9573249123}}

In [19]:
#--------------------------->test_3

In [20]:
def my_fun(df1,Name):
    newdf=df1[df1["Name"]==Name]
    final=newdf.to_dict("dict")
    return final

In [21]:
my_fun(df1,"Maganti.Santhosh Kumar")

{'S.No': {2: 3},
 'Name': {2: 'Maganti.Santhosh Kumar'},
 'Qualification': {2: 'Btech'},
 'Group': {2: 'ECE'},
 'Skills': {2: 'Python, GitHub, Jenkin,Azure'},
 'CurrentProject': {2: 'Azure-DE,GamesProject'},
 'Location': {2: 'Local'},
 'Hobbies': {2: 'Gardening,Movies'},
 'EmailId': {2: 'santhoshkumarmaganti15@gmail.com'},
 'Contact': {2: 9553938798}}

In [22]:
#--------------------------->test_4

In [23]:
def my_fun(df1,Name):
    newdf=df1[df1["Name"]==Name]
    final=newdf.to_dict("dict")
    return final

In [24]:
my_fun(df1,"Loya.Swathi")

{'S.No': {3: 4},
 'Name': {3: 'Loya.Swathi'},
 'Qualification': {3: 'Degree'},
 'Group': {3: 'Bcom'},
 'Skills': {3: 'python,GitHub,Jenkins,SQL,AWS'},
 'CurrentProject': {3: 'GamesProject,CarProject,AWS-Quicksight-DE'},
 'Location': {3: 'Local'},
 'Hobbies': {3: 'Movies,Reading Books'},
 'EmailId': {3: 'swathiloya95@gmail.com'},
 'Contact': {3: 9989114251}}

In [25]:
#---------------------------->test_5

In [26]:
def my_fun(df1,Name):
    newdf=df1[df1["Name"]==Name]
    final=newdf.to_dict("dict")
    return final

In [27]:
my_fun(df1,"Mahabunnisa")

{'S.No': {4: 5},
 'Name': {4: 'Mahabunnisa'},
 'Qualification': {4: 'Inter'},
 'Group': {4: 'MPC'},
 'Skills': {4: 'Python,StockMarket,GitHub'},
 'CurrentProject': {4: 'GamesProject,CarProject'},
 'Location': {4: 'Non_local'},
 'Hobbies': {4: 'Playing games,Music'},
 'EmailId': {4: 'mmahabunnisa18@gmail.com'},
 'Contact': {4: 7380047872}}

In [28]:
#------------------------test_6

In [29]:
def my_fun(df1,Name):
    newdf=df1[df1["Name"]==Name]
    final=newdf.to_dict("dict")
    return final

In [30]:
my_fun(df1,"Domathoti.Mallika")

{'S.No': {5: 6},
 'Name': {5: 'Domathoti.Mallika'},
 'Qualification': {5: 'Inter'},
 'Group': {5: 'HEC'},
 'Skills': {5: 'Stockmarket'},
 'CurrentProject': {5: 'non'},
 'Location': {5: 'Local'},
 'Hobbies': {5: 'Movies,Reading Books'},
 'EmailId': {5: 'mallikadomathoti14@gmail.com'},
 'Contact': {5: 9959368611}}

In [31]:
#----------------------------->test_7

In [32]:
def my_fun(df1,Name):
    newdf=df1[df1["Name"]==Name]
    final=newdf.to_dict("dict")
    return final

In [33]:
my_fun(df1,"Abdul.Rahamatunnisa")

{'S.No': {6: 7},
 'Name': {6: 'Abdul.Rahamatunnisa'},
 'Qualification': {6: 'Degree'},
 'Group': {6: 'MPCS'},
 'Skills': {6: 'Python, GitHub, Jenkin,AWS'},
 'CurrentProject': {6: 'GamesProject,CarProject'},
 'Location': {6: 'Local'},
 'Hobbies': {6: 'Playing games,cooking,reading books'},
 'EmailId': {6: 'rahamatunnisa103@gmail.com'},
 'Contact': {6: 8688206424}}

In [34]:
#------------------------------->test_8

In [35]:
def my_fun(df1,Name):
    newdf=df1[df1["Name"]==Name]
    final=newdf.to_dict("dict")
    return final

In [36]:
my_fun(df1,"Odugu Nagadurga")

{'S.No': {7: 8},
 'Name': {7: 'Odugu Nagadurga'},
 'Qualification': {7: 'Bsc'},
 'Group': {7: 'Mecs'},
 'Skills': {7: 'Python, GitHub, Jenkin,AWS,SQL'},
 'CurrentProject': {7: 'AWS-Quicksight-DE'},
 'Location': {7: 'Non_local'},
 'Hobbies': {7: 'listening music'},
 'EmailId': {7: 'nagadurgaodugu789@gmail.com '},
 'Contact': {7: 9492478895}}

In [37]:
#------------------------------->test_9

In [38]:
def my_fun(df1,Name):
    newdf=df1[df1["Name"]==Name]
    final=newdf.to_dict("dict")
    return final

In [39]:
my_fun(df1,"Nasheena")

{'S.No': {8: 9},
 'Name': {8: 'Nasheena'},
 'Qualification': {8: 'Bsc'},
 'Group': {8: 'Comp'},
 'Skills': {8: 'Python, GitHub, Jenkin,SQL'},
 'CurrentProject': {8: 'Developer Engineer'},
 'Location': {8: 'Non_local'},
 'Hobbies': {8: 'Watching TV,play shettel'},
 'EmailId': {8: 'naseena121@gmail.com'},
 'Contact': {8: 7799813858}}

In [40]:
#------------------------------->test_10

In [41]:
def my_fun(df1,Name):
    newdf=df1[df1["Name"]==Name]
    final=newdf.to_dict("dict")
    return final

In [42]:
my_fun(df1,"Gunmadi.prasanna")

{'S.No': {9: 10},
 'Name': {9: 'Gunmadi.prasanna'},
 'Qualification': {9: 'Btech'},
 'Group': {9: 'ECE'},
 'Skills': {9: 'Python, GitHub, Jenkin,AWS,SQL'},
 'CurrentProject': {9: 'AWS-Quicksight-DE'},
 'Location': {9: 'local'},
 'Hobbies': {9: 'Reading books'},
 'EmailId': {9: 'gummadiprasanna214@gmail.com '},
 'Contact': {9: 8688859784}}

In [43]:
#------------------------------->test_11

In [44]:
def my_fun(df1,Name):
    newdf=df1[df1["Name"]==Name]
    final=newdf.to_dict("dict")
    return final

In [45]:
my_fun(df1,"Maganti.Nagarathnam")

{'S.No': {10: 11},
 'Name': {10: 'Maganti.Nagarathnam'},
 'Qualification': {10: 'Bcom'},
 'Group': {10: 'Comp'},
 'Skills': {10: 'Python, GitHub, Jenkin'},
 'CurrentProject': {10: 'GamesProject,CarProject'},
 'Location': {10: 'local'},
 'Hobbies': {10: 'Reading books'},
 'EmailId': {10: 'mnagarathnam 9392 @gmail.com '},
 'Contact': {10: 8186098598}}

In [46]:
filter=df[["S.No","Name","Qualification","Group","Skills","CurrentProject","Location","Hobbies"]]
filter

,S.No,Name,Qualification,Group,Skills,CurrentProject,Location,Hobbies
0,1,Paramatma Pulivarthi,M.Sc,Statistics,"Python, GitHub, Jenkin,AWS,Azure,SQL",CarsProjects,Local,"cricket, movies"
1,2,Nandipu.Jayasri,Btech,ECE,"Python, GitHub, Jenkin,Azure,sql","Azure-DE,GamesProject",Non_local,Gardening
2,3,Maganti.Santhosh Kumar,Btech,ECE,"Python, GitHub, Jenkin,Azure","Azure-DE,GamesProject",Local,"Gardening,Movies"
3,4,Loya.Swathi,Degree,Bcom,"python,GitHub,Jenkins,SQL,AWS","GamesProject,CarProject,AWS-Quicksight-DE",Local,"Movies,Reading Books"
4,5,Mahabunnisa,Inter,MPC,"Python,StockMarket,GitHub","GamesProject,CarProject",Non_local,"Playing games,Music"
5,6,Domathoti.Mallika,Inter,HEC,Stockmarket,non,Local,"Movies,Reading Books"
6,7,Abdul.Rahamatunnisa,Degree,MPCS,"Python, GitHub, Jenkin,AWS","GamesProject,CarProject",Local,"Playing games,cooking,reading books"
7,8,Odugu Nagadurga,Bsc,Mecs,"Python, GitHub, Jenkin,AWS,SQL",AWS-Quicksight-DE,Non_local,listening music
8,9,Nasheena,Bsc,Comp,"Python, GitHub, Jenkin,SQL",Developer Engineer,Non_local,"Watching TV,play shettel"
9,10,Gunmadi.prasanna,Btech,ECE,"Python, GitHub, Jenkin,AWS,SQL",AWS-Quicksight-DE,local,Reading books
10,11,Maganti.Nagarathnam,Bcom,Comp,"Python, GitHub, Jenkin","GamesProject,CarProject",local,Reading books

In [47]:
df2=pd.DataFrame(filter)
df2

,S.No,Name,Qualification,Group,Skills,CurrentProject,Location,Hobbies
0,1,Paramatma Pulivarthi,M.Sc,Statistics,"Python, GitHub, Jenkin,AWS,Azure,SQL",CarsProjects,Local,"cricket, movies"
1,2,Nandipu.Jayasri,Btech,ECE,"Python, GitHub, Jenkin,Azure,sql","Azure-DE,GamesProject",Non_local,Gardening
2,3,Maganti.Santhosh Kumar,Btech,ECE,"Python, GitHub, Jenkin,Azure","Azure-DE,GamesProject",Local,"Gardening,Movies"
3,4,Loya.Swathi,Degree,Bcom,"python,GitHub,Jenkins,SQL,AWS","GamesProject,CarProject,AWS-Quicksight-DE",Local,"Movies,Reading Books"
4,5,Mahabunnisa,Inter,MPC,"Python,StockMarket,GitHub","GamesProject,CarProject",Non_local,"Playing games,Music"
5,6,Domathoti.Mallika,Inter,HEC,Stockmarket,non,Local,"Movies,Reading Books"
6,7,Abdul.Rahamatunnisa,Degree,MPCS,"Python, GitHub, Jenkin,AWS","GamesProject,CarProject",Local,"Playing games,cooking,reading books"
7,8,Odugu Nagadurga,Bsc,Mecs,"Python, GitHub, Jenkin,AWS,SQL",AWS-Quicksight-DE,Non_local,listening music
8,9,Nasheena,Bsc,Comp,"Python, GitHub, Jenkin,SQL",Developer Engineer,Non_local,"Watching TV,play shettel"
9,10,Gunmadi.prasanna,Btech,ECE,"Python, GitHub, Jenkin,AWS,SQL",AWS-Quicksight-DE,local,Reading books
10,11,Maganti.Nagarathnam,Bcom,Comp,"Python, GitHub, Jenkin","GamesProject,CarProject",local,Reading books

In [48]:
#--------------->test_1

In [49]:
def my_fun(df2,Name):
    newdf=df2[df2["Name"]==Name]
    final=newdf.to_dict("dict")
    return  final

In [50]:
my_fun(df2,"Paramatma Pulivarthi")

{'S.No': {0: 1},
 'Name': {0: 'Paramatma Pulivarthi'},
 'Qualification': {0: 'M.Sc'},
 'Group': {0: 'Statistics'},
 'Skills': {0: 'Python, GitHub, Jenkin,AWS,Azure,SQL'},
 'CurrentProject': {0: 'CarsProjects'},
 'Location': {0: 'Local'},
 'Hobbies': {0: 'cricket, movies'}}

In [51]:
my_fun(df2,"Nandipu.Jayasri")

{'S.No': {1: 2},
 'Name': {1: 'Nandipu.Jayasri'},
 'Qualification': {1: 'Btech'},
 'Group': {1: 'ECE'},
 'Skills': {1: 'Python, GitHub, Jenkin,Azure,sql'},
 'CurrentProject': {1: 'Azure-DE,GamesProject'},
 'Location': {1: 'Non_local'},
 'Hobbies': {1: 'Gardening'}}

In [52]:
my_fun(df2,"Maganti.Santhosh Kumar")

{'S.No': {2: 3},
 'Name': {2: 'Maganti.Santhosh Kumar'},
 'Qualification': {2: 'Btech'},
 'Group': {2: 'ECE'},
 'Skills': {2: 'Python, GitHub, Jenkin,Azure'},
 'CurrentProject': {2: 'Azure-DE,GamesProject'},
 'Location': {2: 'Local'},
 'Hobbies': {2: 'Gardening,Movies'}}

In [53]:
my_fun(df2,"Loya.Swathi")

{'S.No': {3: 4},
 'Name': {3: 'Loya.Swathi'},
 'Qualification': {3: 'Degree'},
 'Group': {3: 'Bcom'},
 'Skills': {3: 'python,GitHub,Jenkins,SQL,AWS'},
 'CurrentProject': {3: 'GamesProject,CarProject,AWS-Quicksight-DE'},
 'Location': {3: 'Local'},
 'Hobbies': {3: 'Movies,Reading Books'}}

In [54]:
my_fun(df2,"Mahabunnisa")

{'S.No': {4: 5},
 'Name': {4: 'Mahabunnisa'},
 'Qualification': {4: 'Inter'},
 'Group': {4: 'MPC'},
 'Skills': {4: 'Python,StockMarket,GitHub'},
 'CurrentProject': {4: 'GamesProject,CarProject'},
 'Location': {4: 'Non_local'},
 'Hobbies': {4: 'Playing games,Music'}}

In [55]:
my_fun(filter,"Domathoti.Mallika")

{'S.No': {5: 6},
 'Name': {5: 'Domathoti.Mallika'},
 'Qualification': {5: 'Inter'},
 'Group': {5: 'HEC'},
 'Skills': {5: 'Stockmarket'},
 'CurrentProject': {5: 'non'},
 'Location': {5: 'Local'},
 'Hobbies': {5: 'Movies,Reading Books'}}

In [56]:
my_fun(df2,"Abdul.Rahamatunnisa")

{'S.No': {6: 7},
 'Name': {6: 'Abdul.Rahamatunnisa'},
 'Qualification': {6: 'Degree'},
 'Group': {6: 'MPCS'},
 'Skills': {6: 'Python, GitHub, Jenkin,AWS'},
 'CurrentProject': {6: 'GamesProject,CarProject'},
 'Location': {6: 'Local'},
 'Hobbies': {6: 'Playing games,cooking,reading books'}}

In [57]:
my_fun(df2,"Odugu Nagadurga")

{'S.No': {7: 8},
 'Name': {7: 'Odugu Nagadurga'},
 'Qualification': {7: 'Bsc'},
 'Group': {7: 'Mecs'},
 'Skills': {7: 'Python, GitHub, Jenkin,AWS,SQL'},
 'CurrentProject': {7: 'AWS-Quicksight-DE'},
 'Location': {7: 'Non_local'},
 'Hobbies': {7: 'listening music'}}

In [58]:
my_fun(df2,"Nasheena")

{'S.No': {8: 9},
 'Name': {8: 'Nasheena'},
 'Qualification': {8: 'Bsc'},
 'Group': {8: 'Comp'},
 'Skills': {8: 'Python, GitHub, Jenkin,SQL'},
 'CurrentProject': {8: 'Developer Engineer'},
 'Location': {8: 'Non_local'},
 'Hobbies': {8: 'Watching TV,play shettel'}}

In [59]:
my_fun(df2,"Gunmadi.prasanna")

{'S.No': {9: 10},
 'Name': {9: 'Gunmadi.prasanna'},
 'Qualification': {9: 'Btech'},
 'Group': {9: 'ECE'},
 'Skills': {9: 'Python, GitHub, Jenkin,AWS,SQL'},
 'CurrentProject': {9: 'AWS-Quicksight-DE'},
 'Location': {9: 'local'},
 'Hobbies': {9: 'Reading books'}}

In [60]:
my_fun(df2,"Maganti.Nagarathnam")

{'S.No': {10: 11},
 'Name': {10: 'Maganti.Nagarathnam'},
 'Qualification': {10: 'Bcom'},
 'Group': {10: 'Comp'},
 'Skills': {10: 'Python, GitHub, Jenkin'},
 'CurrentProject': {10: 'GamesProject,CarProject'},
 'Location': {10: 'local'},
 'Hobbies': {10: 'Reading books'}}